<form *ngIf="pessoa" [formGroup]="rForm" class="was-validated">
  <div class="form-group">
    <label for="nome">Identificação *</label>
    <input type="text"
           id="identificacao"
           name="identificacao"
           class="form-control"
           placeholder="Entre com a idetificacao da pessoa"
           formControlName="identificacao">
    <div class="invalid-feedback">
      O campo identificação é obrigatório
    </div>
  </div>


  <div class="form-group">
    <label for="nome">Nome *</label>
    <input type="text"
           id="nome"
           name="nome"
           class="form-control"
           placeholder="Entre com o nome da pessoa"
           formControlName="nome">
  </div>

  <div class="form-group">
    <label for="nome">Data de Nascimento *</label>
    <input type="date"
           id="dataNascimento"
           name="dataNascimento"
           class="form-control"
           placeholder="Entre com a data de nascimento da pessoa"
           formControlName="dataNascimento">
  </div>

  <div class="form-group">
    <label for="nome">Endereço *</label>
    <input type="text"
           id="endereco"
           name="endereco"
           class="form-control"
           placeholder="Entre com o endereco da pessoa"
           formControlName="endereco">
  </div>

  <div class="form-group">
    <label for="nome">Sexo *</label>
    <select class="form-control" id="sexo" name="sexo" formControlName="sexo">
      <option value="0">Não Definido</option>
      <option value="1">Masculino</option>
      <option value="2">Feminino</option>
    </select>
  </div>

  <button class="btn btn-primary" (click)="salvar()" [disabled]="!rForm.valid"> Salvar </button>
</form>
