<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Pessoas</a>
  <div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/pessoas">Gerenciar Pessoas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/relatorios">Relatórios</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

