<h1>Pessoas</h1>

<div *ngIf="loading && !error">
  Carregando...
</div>

<div *ngIf="!loading">
  <div *ngIf="error">
    Falha ao carregar pessoas!<br>
    Erro: {{error}}.
  </div>

  <button>
    <a routerLink="/pessoa/add">Adicionar</a>
  </button>

  <div *ngIf="!error">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Identificao</th>
        <th scope="col">Nome</th>
        <th scope="col">Editar</th>
        <th scope="col">Apagar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of pessoas">
        <th scope="row">{{p.identificacao}}</th>
        <td>{{p.nome}}</td>
        <td> <a routerLink="/pessoa/{{p.id}}">Editar</a> </td>
        <td> <a routerLink="" (click)="apagar(p)"> Apagar </a> </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
